*{
    margin: 0;
    padding: 0;
    font-family: 'MuseoSans Regular';
    
    a{
        text-decoration: none;
    }

    li{
        list-style: none;
    }
}

.right{
    position: relative;
    float: right;
}

.left{
    position: relative;
    float: left;
}

.pagination-section{
    float: left;
    width: 100%;
    
    .wp-pagenavi{
        .pages, .current, .page.larger, .page.smaller{ display: none }
        .nextpostslink, .previouspostslink{
            width: 45%;
            float: left;
            height: 50%;
            padding: 5px;
            background: #000;
            color: #FFF;
            border: none;
            margin: 0 7px;
            transition: all 400ms ease;
            text-align: center;
    
            &:hover{
                border: 1px solid #000;
                background: transparent;
                color: #000;
            }
        
            @media(min-width: 768px){
                width: 30%;
                height: 35px;
                margin: 0 35%
            }
    
            @media(min-width: 992px){
                width: 10%;
                margin: 0 45%
            }
        }    
    }
}

.swiper-pagination-bullets{
    background: #FFF;
    width: 50%;
    height: 40px;

    .swiper-pagination-bullet{
        background: transparent;
        position: relative;
        margin-top: 15px;
        width: 12px;
        height: 12px;
        outline: none;
        opacity: 1;
        
        &::before{
            content: '';
            position: absolute;
            width: 6px;
            height: 6px;
            top: 2.3px;
            left: 2px;
            border-radius: 100%;
            background: #656866;
        }

        &-active{
            border: 1px solid #656866;
        }
    }
}

.fa-facebook-square{
    font-size: 21px;
    color: #4267b2;

    @media(min-width: 1200px){
        font-size: 30px;
    }
}

.fa-twitter-square{
    font-size: 21px;
    color: #1ca1f2;

    @media(min-width: 1200px){
        font-size: 30px;
    }
}

.fa-pinterest-square{
    font-size: 21px;
    color: #bd2d1b;

    @media(min-width: 1200px){
        font-size: 30px;
    }
}

@media(min-width: 1500px){
    .container{
        width: 1200px;
    }
}