@font-face {
    font-family: 'MuseoSans Regular';
    font-style: normal;
    font-weight: normal;
    src: url('../dist/fonts/MuseoSans-100.woff') format('woff');
}
@font-face {
    font-family: 'MuseoSans Bold';
    font-style: normal;
    font-weight: bold;
    src: url('../dist/fonts/MuseoSans-300.woff') format('woff');
}
@font-face {
    font-family: 'MuseoSans SemiBold';
    font-style: normal;
    font-weight: bold;
    src: url('../dist/fonts/MuseoSans-300.woff') format('woff');
}
@font-face {
    font-family: 'MuseoSans Regular2';
    font-style: normal;
    font-weight: 300;
    src: url('../dist/fonts/MuseoSans-300.woff') format('woff');
}