footer{
    background: #000000;
    color: #FFFFFF;
    width: 100%;
    float: left;
    padding: 80px 0;
    margin: 40px 0 0;
    
    .logo-footer{
        max-width: 115px;
        margin-left: 33%;
        margin-right: 30%;

        img{
            max-width: 100%;
        }
    }

    .copyright, .menu-footer, .info-footer{
        font-family: 'MuseoSans Regular';
    }

    .copyright{
        text-align: center;
        padding: 20px 0;
    }

    .menu-footer{
        li{
            margin: 5px 0;
        }
    }

    .redes-sociais{
        margin: 15px 0;
        float: left;
        width: 100%;
        padding: 0 36%;

        a{
            color: #FFF;
            float: left;
            padding: 0 5px;
            font-size: 18px;

            @media(min-width: 360px){
                padding: 0 7px;
            }

            @media(min-width: 412px){
                padding: 0 10px;
            }
        }
    }

    .info-footer{
        float: left;
        width: 100%;
        text-align: center;
    }

    @media(min-width: 768px){
        .logo-footer{
            margin-top: 15px;
        }

        .redes-sociais{
            padding: 0 25%;
        }
    }

    @media(min-width: 992px){
        padding: 100px 0;

        .redes-sociais{
            margin: 15px 10%;
        }
    }

    @media(min-width:1200px){
        margin: 50px 0 0;
    }

    @media(min-width: 1500px){
        padding: 120px 0;
        margin: 80px 0 0;

        .redes-sociais{
            margin: 15px 10%;
        }

        p{
            font-size: 17px;
        }
    }
}

.ancora{
    text-align: center;
    float: left;
    width: 100%;
    background: #FFF;
    padding: 15px;
    cursor: pointer;

    i{
        font-size: 25px;
        color: #000;
    }
}