.contato{
    h1{
        padding-left: 15px;
        margin-bottom: 20px;

        @media(min-width: 768px){
            &::after{
                width: 10%;
                left: 15px;
            }
        }
    }

    .links-redes-sociais{
        float: left;
        width: 100%;
        margin: 15px 0 40px 8px;

        div{
            float: left;
            margin: 0 10px;
            font-size: 14px;

            a{
                color: #000;
            }
        }
    }

    .info-contato{
        padding-top: 30px;

        p{
            padding: 0;
        }

        @media(min-width: 1500px){
            padding-left: 80px; 
        }
    }

    .btn-default{
        width: 30%;
        height: 50px;
        text-transform: uppercase;
        margin: 15px 0;
        float: right;
    }

    @media(min-width: 1200px){
        .links-redes-sociais{
            div{
                a{
                    font-size: 16px;
                }
            }
        }
    }
}