section{
    padding: 40px 0;
    background: #FFF;
    float: left;
    width: 100%;

    h1{
        color: #000;
        font-size: 21px;
        font-weight: 600;
        position: relative;
        text-align: center;
        font-family: 'MuseoSans SemiBold';

        &::after{
            content: "";
            position: absolute;
            width: 20%;
            height: 1px;
            background: #000;
            left: 40%;
            right: 40%;
            bottom: -17px;
        }
    }

    p{
        font-size: 16px;
        color: #535253;
        font-family: 'MuseoSans Regular';
    }

    &.bloco1{
        p{
            padding-top: 30px;
        }
    }

    .depoimentos{
        .swiper-container{
            height: 250px;
            text-align: center;

            .swiper-slide{
                max-width: 100%;

                p:first-child{
                    font-style: normal;
                    padding-top: 30px;
                }

                p{
                    font-style: italic;
                    font-weight: 300;
                }
            }

            .swiper-pagination-bullets{
                bottom: -10px;

                .swiper-pagination-bullet{
                    &::before{
                        width: 3px;
                        height: 3px;
                        top: 3px;
                        left: 3px;
                    }
                }
            }
        }

        @media(min-width: 768px){
            width: 40%;
            margin: 0 30%;

            .swiper-container{
                height: 300px;
            }
        }
        
        @media(min-width: 992px){
            width: 25%;
            margin: 0 37.5%;
        }
    }

    @media(min-width: 768px){
        h1{
            text-align: left;
            &::after{
                left: 0; 
                right: auto;
            }
        }

        &.blog, &.center{
            h1{
                text-align: center;
                margin-bottom: 35px;

                &::after{
                    width: 10%;
                    left: 45%;
                    right: 45%;
                }
            }
        }

        &.blog{
            h1{
                width: 40%;
                margin: 15px 30%;
            }
        }

        .btn-default{
            margin: 15px 35%; //35% devido ao tamanho padrão do botao nesse tamanho de tela, que é 30%
        }

        &.bloco1{
            .btn-default{
                margin: 15px 0;
                width: 60%
            }
        }
    }

    @media(min-width: 992px){
        &.blog{
            h1{
                width: 25%;
                margin: 15px 37.5%;
            }
        }

        &.bloco1{
            padding-top: 80px;

            .btn-default{
                margin: 15px 0;
                width: 20%;
            }
        }

        .btn-default{
            width: 10%;
            margin: 15px 45%;
        }
    }

    @media(min-width: 1200px){
        padding: 50px 0;

        &.center{
            h1{
                margin-bottom: 15px;
            }
        }
    }

    @media(min-width: 1500px){
        padding: 80px 0;

        h1{
            font-size: 40px;
        }

        p{
            font-size: 17px;
            line-height: 25px;
        }

        .btn-default{
            margin: 50px 40%;
            width: 17.5%;
            height: 70px;
        }

        &.bloco1{
            padding: 150px 0;

            .btn-default{
                margin: 50px 0;
                width: 35%;
                height: 70px;
            }
        }

        .depoimentos{
            .swiper-container{
                .swiper-slide{
                    p{
                        color: #1a1819;
                        font-size: 21px;
                        font-weight: 400;
                        line-height: 33.33px;
                        font-style: italic;
                        font-family: 'MuseoSans Regular2';
                    }

                    p:first-child{
                        font-style: normal;
                        font-family: 'MuseoSans Regular';
                        line-height: 25px;
                        font-weight: 100;
                    }
                }

                .swiper-pagination-bullets{
                    bottom: -20px;
                }
            }
        }
    }
}