.single-projeto{
    .breadcrumb{
        background: transparent;

        ul{
            li{
                display: inline;
                margin-right: 10px;
                color: #525252;
                position: relative;

                &::after{
                    content: " - ";
                    position: absolute;
                    right: -9px;
                }

                &:last-child{
                    &::after{
                        content: "";
                    }
                }

                a{
                    color: #525252;

                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
        }
    }

    .content{
        p{
            padding: 30px 0 0;
        }

        h2{
            text-align: center;
            padding-top: 25px;
            font-style: italic;
            color: #CCC;
        }
    }

    .video{
        float: left;
        width: 100%;

        iframe{
            max-width: 100%;
            max-height: 300px;
        }
    }

    .galeria-single{
        overflow: hidden;
        width: 100%;
        float: left;
        position: relative;
        height: 300px;

        .swiper-container{
            .swiper-wrapper{
                .swiper-slide{
                    img{
                        max-height: 250px;
                        max-width: 100%;
                    }
                }
            }
        }

        .swiper-pagination-bullets{
            left: 27%;
            right: 27%;
            bottom: -10px;
            width: 50%;
            height: 40px;
        }
    }

    @media(min-width: 768px){
        .content{
            p{
                padding: 10px 0 0;
            }

            h2{
                text-align: left;
            }
        }

        .video{
            margin-top: 25px;
        }

        .galeria-single{
            width: 65%;
            margin: 0 17.3%;
        }
    }

    @media(min-width: 992px){
        .galeria-single{
            width: 50%;
            margin: 0 25%;

            .swiper-pagination-bullets{
                left: 35%;
                right: 35%;
                width: 30%;
            }
            
            @media(min-width: 1200px){
                width: 40%;
                margin: 0 30%;
            }

        }
    }

    @media(min-width: 1500px){
        .video{
            margin-top: 105px;
        }

        .galeria-single{
            width: 80%;
            margin: 0 10%;
            height: 600px;

            .swiper-container{
                .swiper-wrapper{
                    .swiper-slide{
                        img{
                            max-height: 100%;
                            height: 530px;
                            max-width: 100%;
                        }
                    }
                }
            }
        }
    }
}