.single-blog{
    .content{
        h5{
            text-align: center;
            margin-top: 25px;
        }
    }

    .descricao{
        padding-top: 40px;

        img{
            max-width: 100%;
            max-height: 180px;
        }
    }

    @media(min-width: 768px){
        .content{
            h5{
                text-align: left;
            }
        }
        .descricao{
            img{
                max-height: 280px;
            }
        }
    }

    @media(min-width: 1200px){
    .content{
        }
        .descricao{
            img{
                max-height: 400px;
            }
        }
    }
}