.sobre{
    .bloco1-sobre{
        h1{
            margin-bottom: 30px;
        }

        .row:nth-child(2){
            padding-top: 50px;
        }
    }

    figure{
        &:hover{
            box-shadow: none;
        }
    }

    .video{
        width: 100%;
    
        iframe{
            max-width: 100%;
            max-height: 180px;
        }
    }

    @media(min-width: 768px){
        .video{
            padding-top: 30px;
            
            iframe{
                max-height: 250px    
            }
        }
    }

    @media(min-width: 992px){
        .video{
            iframe{
                max-height: 300px;
            }
        }
    }
    
    @media(min-width: 1500px){
        .bloco1-sobre{
            padding: 150px 0;
            h1{
                margin-bottom: 35px;
            }
        }
    }
}