.banner-slide{
    overflow: hidden;
    width: 100%;
    float: left;

    .banner{
        padding: 100px 0;
    }

    .swiper-container{
        .swiper-wrapper{
            .swiper-slide{
                img.banner{
                    max-height: 300px;
                }
            }
        }

        .swiper-pagination-bullets{
            background: #FFF;
            left: auto;
            right: 5px;
            bottom: -10px;
            width: 50%;
            height: 40px;

            .swiper-pagination-bullet{
                background: transparent;
                position: relative;
                margin-top: 15px;
                width: 12px;
                height: 12px;
                outline: none;
                opacity: 1;
                
                &::before{
                    content: '';
                    position: absolute;
                    width: 6px;
                    height: 6px;
                    top: 2.3px;
                    left: 2px;
                    border-radius: 100%;
                    background: #656866;
                }

                &-active{
                    border: 1px solid #656866;
                }
            }
        }
    }

    @media(min-width: 768px){
        .banner{
            padding: 150px 0;
        }

        .swiper-container{
            .swiper-pagination-bullets{
                right: 50px;
                width: 250px;
            }
        }
    }

    @media(min-width: 992px){
        .swiper-container{
            position: initial;

            .swiper-pagination-bullets{
                top: 425px;
                height: 100px;

                &::before{
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 40px;
                    height: 1px;
                    width: 100%;
                    background: #000;
                }

                .swiper-pagination-bullet{
                    bottom: -50px;

                    &::before{
                        width: 3px;
                        height: 3px;
                        top: 3px;
                        left: 3px;
                    }
                }
            }
        }
    }

    @media(min-width: 1200px){
        .banner{
            padding: 150px 0;
        }
    }

    @media(min-width: 1500px){
        .banner{
            padding: 250px 0;
        }

        .swiper-container{
            .swiper-pagination-bullets{
                top: 615px;
                width: 460px;
                height: 150px;

                &::before{
                    top: 100px;
                }

                .swiper-pagination-bullet{
                    bottom: -130px;
                }
            }
        }
    }
}

.banner-principal{
    padding: 100px 0;
    margin: 0 0 40px;

    @media(min-width: 992px){
        padding: 120px 0;
    }

    @media(min-width: 1200px){
        padding: 150px 0; 
    }

    @media(min-width: 1500px){
        padding: 200px 0;
    }
}

.banner-divisor{
    margin: 40px 0;
    .links-redes-sociais{
        width: 100%;
        float: left;
        text-align: center;

        div{
            display: inline-block;
            padding-left: 15px;

            a{
                color: #FFF;

                &:hover{
                    color: #000;
                }
            }
        }
    }

    @media(min-width: 758px){
        padding: 100px 0;
        
        .links-redes-sociais{
            a{
                font-size: 21px;
            }
        }
    }
    
    @media(min-width: 1200px){
        margin: 50px 0;
        padding: 140px 0;

        .links-redes-sociais{
            a{
                font-size: 25px;
            }
        }
    }

    @media(min-width: 1500px){
        padding: 180px 0;
        margin: 80px 0;

        .links-redes-sociais{
            a{
                font-size: 30px;
            }
        }
    }
}