.box{
    margin-top: 20px;
    
    figure{
        float: left;
        width: 100%;
        position: relative;
        margin-bottom: 25px;
        transition: all 400ms ease;

        img{
            max-width: 100%;
            max-height: 150px;
        }

        &:hover{
            box-shadow: 5px 5px 40px -10px #444;
        }
    }

    h2{
        font-size: 18px;
        color: #000;

        @media(min-width: 1500px){
            font-size: 25px;
        }
    }

    h5{
        font-size: 11px;
        color: #666;
    }

    p{
        padding-top: 5px;
        line-height: 20.83px;
    }

    a{
        color: #000;
        text-decoration: none;
        font-size: 18px;

        &:hover{
            text-decoration: underline;
        }
    }

    @media(min-width: 992px){
        figure{
            img{
                max-height: 200px;
            }
        }
    }

    @media(min-width: 1500px){
        figure{
            img{
                max-height: 250px;
            }
        }

        h5{
            font-size: 17px;
        }
    }
}