.btn-default{
    background: #000;
    color: #FFF;
    width: 100%;
    height: 50px;
    border: none;
    margin-top: 15px;
    transition: all 400ms ease;
    font-family: 'MuseoSans Regular';
    text-transform: uppercase;

    &:hover{
        border: 1px solid #000;
        background: transparent;
    }

    @media(min-width: 768px){
        width: 30%;
        height: 45px;
    }
}