.form{
    label{
        display: inline;

        .form-input{
            float: left;
            width: 100%;
            border: none;
            border-bottom: 1px solid #000;
            margin-top: 10px;
            font-size: 16px;
            color: #000;
            padding: 8px 0;
            outline: none;
        }

        textarea{
            height: 100px;
            resize: none;
        }

        @media(min-width: 1500px){
            .form-input{
                font-size: 20px;
            }
        }
    }
}