.galeria{
    float: left;
    width: 100%;
    overflow: hidden !important;
    // display: flex;
    // flex-flow: row wrap;
    // justify-content: space-around;

    figure{
        position: relative;
        transition: all 400ms ease;
        cursor: pointer;

        &:hover{
            figcaption{
                opacity: 1;
            }
        }

        img{
            max-width: 100%;
            max-height: 250px;
        }

        figcaption{
            transition: all 400ms ease;
            position: absolute;
            width: 100%;
            height: 98%;
            top: 0;
            left: 0;
            opacity: 0;
            background: rgba(0, 0, 0, 0.6);

            h3{
                color:  #FFF;
                font-size: 16px;
                text-align:  center;
                margin-top: 25%;
            }
        }
    }

    @media(min-width: 1500px){

        padding-top: 35px !important;

        figure{
            margin-bottom: 10px;

            img{
                max-height: 450px;
            }
        }
    }
}