@media(max-width: 768px){
    .logo{
        transition: all 400ms ease;

        img{
            transition: all 400ms ease;
        }

        &.scroll{
            position: fixed;
            left: 0;
            top: 0;
            padding: 15px;
            background: #FFF;
            width: 100%;
            z-index: 4;

            img{
                width: 120px;
            }
        }
    }
}

.right{
    position: inherit;

    .menu-mobile{
        display: block;
        outline: none;
        position: absolute;
        right: 25px;
        top: 60px;
        width: 40px;
        height: 40px;
        z-index: 100001;
        background: transparent;
        padding-top: 8px;
        padding-left: 5px;
        border-radius: 3px;
        color: #000;
        border: 1px solid #000;
        transition: ease 1s;

        span{
            width: 20px;
            height: 1px;
            float: left;
            margin-top: 5px;
            margin-left: 4px;
            background-color: #000;
        }

        &.open-menu{
            color: #FFF;
            border: 1px solid #FFF;

            span{
                background-color: #FFF;
            }
        }

        @media(max-width: 768px){
            &.scroll{
                position: fixed;
                right: 15px;
                top: 15px;
            }
        }
    }

    .menu{
        ul{
            width: 65vw;
            height: 100vh;
            position: fixed;
            background: #000;
            right: -100%;
            top: 0;
            z-index: 100000;
            overflow-y: auto;
            transition: ease 0.5s;
    
            li{
                float: left;
                width: 100%;
                text-align: right;
    
                &:first-child{
                    padding-top: 115px;
                }
    
                a{
                    float: left;
                    padding: 15px 25px 15px 15px;
                    color: #FFF;
                    width: 100%;
                    font-family: 'MuseoSans Regular';
                    text-transform: uppercase;
                    text-decoration: none;
                    transition: all 400ms ease;
                    border: none;

                    &:hover{
                        background: #000;
                        color: #FFF;
                        font-weight: 600;
                    }
                }

                &.current_page_item{
                    a{
                        background: #000;
                        color: #FFF;
                        font-weight: 600;
                    }
                }
            }
        }

        @media(min-width: 768px){
            ul{
                width: 33vw;
            }
        }

    }

    @media(min-width: 992px){
        .menu-mobile{
            display: none;
        }
        
        .menu{
            padding: 8px 0 0;

            ul{
                width: auto;
                height: auto;
                position: initial;
                background: none;
                right: 0;
                top: 0;
                z-index: auto;
        
                li{
                    float: left;
                    width: auto;
                    text-align: left;
                    padding: 0 8px;

                    &:last-child{
                        padding-right: 0;
                    }
        
                    &:first-child{
                        padding-top: 0;
                        padding-left: 0;
                    }
        
                    a{
                        float: left;
                        padding: 7px 15px;
                        color: #000;
                        width: 100%;
                        font-family: 'MuseoSans Bold';
                    }
                }
            }
        }
    }
}

.menu-footer{
    display: block;
    text-align: center;
    margin-top: 10px;

    li{
        a{
            color: #FFF;
            
            &:hover{
                text-decoration: underline;
            }
        }
    }
}

.layer{
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0;
    transition: all 400ms ease;

    &.active{
        opacity: 1;
        z-index: 5;
    }
}