.sidebar{
    ul{
        li{
            position: relative;
            float: left;
            width: 100%;
            margin: 15px 0;

            a{
                color: #000;
                font-size: 18px;
            }

            p{
                color: #535253;
                font-size: 12px;
            }

            &::after{
                content: '';
                position: absolute;
                width: 50%;
                height: 1px;
                left: 0;
                bottom: -5px;
                background: #000;
            }
        }

    }
    
    @media(min-width: 768px){
        padding-top: 64px;    
    }
}